# Dependency directories
node_modules/
jspm_packages/

# TypeScript compiled output
dist/
*.tsbuildinfo

# IDE - VSCode
.vscode/
*.code-workspace

# System Files
.DS_Store
Thumbs.db

# dotenv environment variables file
.env

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Next.js build output
.next
